Repository svishwari/svishwari, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snaragana-deloitte, @Abdullah-Azad, @rahgoel, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @pfleetwood1, @JyotiSingh7, @MoazMansour, @sairajput-deloitte, @rmahato-deloitte, @shashaagrawal-deloitte

.github/CODEOWNERS:

# ALL
hux/ @snaragana-deloitte

# UI processes
hux/frontend/ @Abdullah-Azad @rahgoel @sach9993 @svishwari @sameerksingh1236 @shubhamkumar74
hux/integration_tests/frontend @Abdullah-Azad @rahgoel @sach9993 @svishwari @sameerksingh1236 @shubhamkumar74

# api processes
hux/api/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @sameerksingh1236 @rahgoel
hux/integration_tests/api @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @sameerksingh1236 @rahgoel
hux/api/load_tests/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @sameerksingh1236 @rahgoel

# CI/CD processes
*codefresh.yml @pfleetwood1 @JyotiSingh7 @dcl-deloitte

# huxunifylib-database
scripts/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour @risheek-deloitte @skondalraj-deloitte @rahgoel
lib/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour @risheek-deloitte @sairajput-deloitte @rmahato-deloitte @skondalraj-deloitte @shashaagrawal-deloitte @rahgoel

Update hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/constants.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @rahgoel

refactor alert response
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/user.py
  hux/api/huxunify/api/schema/user.py
  hux/api/huxunify/test/route/test_users.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @rahgoel

feedback resolved
  hux/frontend/src/assets/logos/creatiff-inc.svg
  hux/frontend/src/assets/logos/dotam.svg
  hux/frontend/src/assets/logos/monamie.svg
  hux/frontend/src/views/ClientPanel.vue
Owners: @Abdullah-Azad, @rahgoel, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74

First Draft
  hux/frontend/src/assets/icons/email_deliverability.svg
  hux/frontend/src/components/common/Breadcrumb.vue
  hux/frontend/src/menuConfig.json
  hux/frontend/src/router/index.js
  hux/frontend/src/views/Measurement/EmailDeliverability/DeliveredChart.vue
  hux/frontend/src/views/Measurement/EmailDeliverability/Domain/Overview.vue
  hux/frontend/src/views/Measurement/EmailDeliverability/Domain/Visuals.vue
  hux/frontend/src/views/Measurement/EmailDeliverability/Index.vue
  hux/frontend/src/views/Measurement/EmailDeliverability/Overview.vue
Owners: @Abdullah-Azad, @rahgoel, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74

Lint Issue
  hux/frontend/src/views/Measurement/EmailDeliverability/Domain/Overview.vue
Owners: @Abdullah-Azad, @rahgoel, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74

Lint Issue
  hux/frontend/src/views/Measurement/EmailDeliverability/Domain/Visuals.vue
Owners: @Abdullah-Azad, @rahgoel, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74

Changing .am type to dot-am at prepopulate
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @rahgoel

API integration started
  hux/frontend/src/api/mock/factories/audiences.js
  hux/frontend/src/views/Audiences/Dashboard/Insight2.vue
  hux/frontend/src/views/Audiences/Dashboard/Lookalikes.vue
Owners: @Abdullah-Azad, @rahgoel, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74

Spacing fix
  hux/frontend/src/menuConfig.json
Owners: @Abdullah-Azad, @rahgoel, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74

smally
  hux/frontend/src/assets/logos/dot-am.svg
Owners: @Abdullah-Azad, @rahgoel, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74

Added support methods for deliverability router
  lib/huxunifylib-database/huxunifylib/database/constants.py
  lib/huxunifylib-database/huxunifylib/database/delivery_platform_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_delivery_platform.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @sairajput-deloitte, @rmahato-deloitte, @skondalraj-deloitte, @shashaagrawal-deloitte, @rahgoel

style fix
  hux/frontend/src/views/Measurement/EmailDeliverability/Index.vue
  hux/frontend/src/views/Measurement/EmailDeliverability/Overview.vue
Owners: @Abdullah-Azad, @rahgoel, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74

css fix
  hux/frontend/src/views/Audiences/Dashboard/Lookalikes.vue
Owners: @Abdullah-Azad, @rahgoel, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74

updated pipfile for safety error
  scripts/Pipfile.lock
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @rahgoel

Revert "updated pipfile for safety error"
  scripts/Pipfile.lock
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @rahgoel
