Repository svishwari/svishwari, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993, @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @pfleetwood1, @JyotiSingh7, @jazzblue, @anoop0m, @MoazMansour

updated the database lib pinned version, added endpoint coverage for updating data sources in bulk
  hux/api/Pipfile.lock
  hux/api/huxunify/api/route/cdp_data_source.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

addressed pr comments
  lib/huxunifylib-database/huxunifylib/database/audience_management.py
  lib/huxunifylib-database/huxunifylib/database/cdp_data_source_management.py
  lib/huxunifylib-database/huxunifylib/database/data_management.py
  lib/huxunifylib-database/huxunifylib/database/delivery_platform_management.py
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
  lib/huxunifylib-database/huxunifylib/database/notification_management.py
  lib/huxunifylib-database/huxunifylib/database/orchestration_management.py
  lib/huxunifylib-database/huxunifylib/database/user_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour

Nested done, Formatting Pending!
  hux/frontend/src/components/CampaignSummary.vue
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
  hux/frontend/src/filters.js
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Merged both slider to implement Hux Slider
  hux/frontend/src/components/common/HuxSlider.vue
  hux/frontend/src/components/common/Index.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Eliminated range & score sliders
  hux/frontend/src/components/common/HuxRangeSlider.vue
  hux/frontend/src/components/common/Index.vue
  hux/frontend/src/components/common/ScoreSlider.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Table Ready!
  hux/frontend/src/components/CampaignSummary.vue
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
  hux/frontend/src/views/Engagements/Dashboard.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Review comment Addressed!
  hux/frontend/src/components/CampaignSummary.vue
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
  hux/frontend/src/components/common/huxTable/Size.vue
  hux/frontend/src/components/common/huxTable/TimeStamp.vue
  hux/frontend/src/filters.js
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Updated constants.py
  lib/huxunifylib-database/huxunifylib/database/constants.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour

made metric card responsive
  hux/frontend/src/components/common/Index.vue
  hux/frontend/src/components/common/MetricCard.vue
  hux/frontend/src/views/Audiences/Configuration.vue
  hux/frontend/src/views/Audiences/Insight.vue
  hux/frontend/src/views/Engagements/Configuration/Overview.vue
  hux/frontend/src/views/Engagements/Dashboard.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Minor UI Fix
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Minor UI Fix
  hux/frontend/src/components/CampaignSummary.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Left over comments
  hux/frontend/src/components/CampaignSummary.vue
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Added test_delivery.py
  hux/api/huxunify/test/route/test_delivery.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Update test_delivery.py
  hux/api/huxunify/test/route/test_delivery.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

merge conflict resolved & lint fixes
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Added to do
  hux/frontend/src/views/Audiences/AddDestination.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Update lib/huxunifylib-database/huxunifylib/database/constants.py
  lib/huxunifylib-database/huxunifylib/database/constants.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour

Merge Issue Fixed
  hux/frontend/src/components/common/StatusList.vue
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
  hux/frontend/src/filters.js
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

convert to objectid
  hux/api/huxunify/api/route/cdp_data_source.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

added fixes
  hux/frontend/src/components/common/MetricCard.vue
  hux/frontend/src/views/Audiences/Insight.vue
  hux/frontend/src/views/Engagements/Dashboard.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

removed commented code & lint fixes
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

pr comments and changes to engament audience id isntead of _id
  lib/huxunifylib-database/huxunifylib/database/constants.py
  lib/huxunifylib-database/huxunifylib/database/delivery_platform_management.py
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour

Added tests for delivery operations
  hux/api/huxunify/test/route/test_delivery.py
  hux/api/huxunify/test/route/test_engagement.py
  hux/api/huxunify/test/route/test_orchestration.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

File and class description change
  hux/api/huxunify/test/route/test_engagement.py
  hux/api/huxunify/test/route/test_orchestration.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Update test_cdp_data_source.py
  hux/api/huxunify/test/route/test_cdp_data_source.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

test fix and minor update
  lib/huxunifylib-database/huxunifylib/database/delivery_platform_management.py
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_engagement_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour

updated default region to us-east-1
  hux/api/Dockerfile
  hux/api/huxunify/api/config.py
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/data_connectors/courier.py
  hux/api/template-settings.ini
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Update hux/api/huxunify/test/route/test_cdp_data_source.py
  hux/api/huxunify/test/route/test_cdp_data_source.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Update test_cdp_data_source.py
  hux/api/huxunify/test/route/test_cdp_data_source.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

added param engagement_id n added docstrings to tests
  hux/api/huxunify/api/route/engagement.py
  hux/api/huxunify/test/route/test_engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

changed to default slots
  hux/frontend/src/components/common/CardHorizontal.vue
  hux/frontend/src/components/common/ConfirmModal.vue
  hux/frontend/src/components/common/HuxDropdown.vue
  hux/frontend/src/components/common/Index.vue
  hux/frontend/src/components/common/huxButton.vue
  hux/frontend/src/views/Audiences/AttachEngagement.vue
  hux/frontend/src/views/Audiences/Configuration.vue
  hux/frontend/src/views/Audiences/Index.vue
  hux/frontend/src/views/Connections/Index.vue
  hux/frontend/src/views/DataSources/Configuration.vue
  hux/frontend/src/views/Destinations/Configuration.vue
  hux/frontend/src/views/Destinations/Listing.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

lint fixes
  hux/frontend/src/components/common/CardHorizontal.vue
  hux/frontend/src/components/common/Index.vue
  hux/frontend/src/views/Audiences/AttachEngagement.vue
  hux/frontend/src/views/Audiences/Configuration.vue
  hux/frontend/src/views/Audiences/Index.vue
  hux/frontend/src/views/Connections/Index.vue
  hux/frontend/src/views/DataSources/Configuration.vue
  hux/frontend/src/views/Destinations/Configuration.vue
  hux/frontend/src/views/Destinations/Listing.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

added a to do comment
  hux/frontend/src/store/modules/destinations.js
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

removed button text prop
  hux/frontend/src/components/common/huxButton.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

resolved a few items for delivering audiences
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/data_connectors/courier.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

added a generic error handler
  hux/api/huxunify/api/data_connectors/courier.py
  hux/api/huxunify/api/route/engagement.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/api/route/utils.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

updated based on pr comments
  .gitignore
Owners: none

changed engagementid exmple n docstrings
  hux/api/huxunify/api/route/engagement.py
  hux/api/huxunify/test/route/test_engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

updated the data source call
  lib/huxunifylib-database/huxunifylib/database/cdp_data_source_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour

added an override for auth locally cause it got really annoying having to change it all the time
  hux/api/huxunify/api/route/utils.py
  hux/api/huxunify/test/data_connectors/.hypothesis/examples/c52070ab2bfd93d6/1086a78797317d2d
  hux/api/huxunify/test/data_connectors/.hypothesis/examples/c52070ab2bfd93d6/272a479f57140cba
  hux/api/huxunify/test/data_connectors/.hypothesis/examples/c52070ab2bfd93d6/6525c115a795f3b7
  hux/api/huxunify/test/data_connectors/.hypothesis/examples/c52070ab2bfd93d6/8c1788a85ebe10d7
  hux/api/huxunify/test/data_connectors/.hypothesis/examples/c52070ab2bfd93d6/bec021b4f368e306
  hux/api/huxunify/test/data_connectors/.hypothesis/examples/c52070ab2bfd93d6/ff2dc57d95ab925a
  hux/api/huxunify/test/data_connectors/.hypothesis/unicode_data/11.0.0/charmap.json.gz
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

.github/CODEOWNERS:

# UI processes
hux/frontend/ @Abdullah-Azad @henrikr @mohitbans @rahgoel @sach9993

# api processes
hux/api/ @seahawks8 @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @henrikr @soumya-pb

# CI/CD processes
*codefresh.yml @pfleetwood1 @JyotiSingh7 @seahawks8 @bernieblab @henrikr

# huxunifylib-database
scripts/ @jazzblue @seahawks8 @anoop0m @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour
lib/ @jazzblue @seahawks8 @anoop0m @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour
