Repository svishwari/svishwari, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993, @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @pfleetwood1, @JyotiSingh7, @jazzblue, @anoop0m, @MoazMansour

Update snapshots.
  hux/frontend/.gitignore
  hux/frontend/README.md
  hux/frontend/tests/unit/components/common/__snapshots__/PageHeader.spec.js.snap
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Audience Performance Stub Summary DispAd & Email
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/engagement.py
  hux/api/huxunify/api/schema/engagement.py
  hux/api/huxunify/test/route/test_engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Addressed Changes
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/engagement.py
  hux/api/huxunify/api/schema/engagement.py
  hux/api/huxunify/test/route/test_engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

fixed small changes in tests
  hux/api/huxunify/test/route/test_engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

added endpoint for batch updating data sources
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/cdp_data_source.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

changed docstrings in route/engagement.py
  hux/api/huxunify/api/route/engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

added hypo tests to gitignore
  .gitignore
Owners: none

updated database lib
  hux/api/Pipfile.lock
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

updated endpoint for latest db lib
  hux/api/huxunify/api/route/orchestration.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

removed sticky
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

updated courier for id from audience_id
  hux/api/huxunify/api/data_connectors/courier.py
  hux/api/huxunify/test/data_connectors/.hypothesis/unicode_data/11.0.0/charmap.json.gz
  hux/api/huxunify/test/data_connectors/test_courier.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

updated courier for id from audience_id
  hux/api/huxunify/test/data_connectors/.hypothesis/unicode_data/11.0.0/charmap.json.gz
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Update hux/api/huxunify/api/route/engagement.py
  hux/api/huxunify/api/route/engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Customize button CSS all over application
  hux/frontend/src/components/common/CardHorizontal.vue
  hux/frontend/src/components/common/ConfirmModal.vue
  hux/frontend/src/components/common/HuxDropdown.vue
  hux/frontend/src/components/common/Index.vue
  hux/frontend/src/components/common/huxButton.vue
  hux/frontend/src/plugins/colors.js
  hux/frontend/src/plugins/theme.js
  hux/frontend/src/views/Audiences/AttachEngagement.vue
  hux/frontend/src/views/Audiences/Configuration.vue
  hux/frontend/src/views/Audiences/Index.vue
  hux/frontend/src/views/Connections/Index.vue
  hux/frontend/src/views/DataSources/Configuration.vue
  hux/frontend/src/views/Destinations/Configuration.vue
  hux/frontend/src/views/Destinations/Listing.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

lint fixes
  hux/frontend/src/components/common/CardHorizontal.vue
  hux/frontend/src/components/common/ConfirmModal.vue
  hux/frontend/src/components/common/HuxDropdown.vue
  hux/frontend/src/components/common/Index.vue
  hux/frontend/src/components/common/huxButton.vue
  hux/frontend/src/views/DataSources/Configuration.vue
  hux/frontend/src/views/Destinations/Configuration.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Addressed PR review comments
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Added top margin to show dropshadow
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

added extended css for box shadow
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Implement test cases with correct DB patch. CreateDataSource to return json instead of text.
  hux/api/huxunify/api/route/cdp_data_source.py
  hux/api/huxunify/test/route/test_cdp_data_source.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

added css
  hux/frontend/src/components/common/Avatar.vue
  hux/frontend/src/components/common/huxTable/Size.vue
  hux/frontend/src/components/common/huxTable/TimeStamp.vue
  hux/frontend/src/views/Audiences/Index.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

lint fixes
  hux/frontend/src/components/common/Avatar.vue
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
  hux/frontend/src/components/common/huxTable/Size.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Item Per Page as 100.
  hux/frontend/src/components/CampaignSummary.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Items Per Page
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Review comment changes
  hux/frontend/src/components/common/HuxRangeSlider.vue
  hux/frontend/src/components/common/Index.vue
  hux/frontend/src/components/common/ScoreSlider.vue
  hux/frontend/src/plugins/colors.js
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

readonly enable changes
  hux/frontend/src/components/common/ScoreSlider.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Initial Layout
  hux/frontend/src/components/CampaignSummary.vue
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
  hux/frontend/src/filters.js
  hux/frontend/src/views/Engagements/Dashboard.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Prop binding issue fix
  hux/frontend/src/components/common/Index.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Name change over index file
  hux/frontend/src/components/common/Index.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Fix Mypy Issues in huxunifylib
  lib/huxunifylib-database/huxunifylib/database/audience_data_management_util.py
  lib/huxunifylib-database/huxunifylib/database/audience_management.py
  lib/huxunifylib-database/huxunifylib/database/cdp_data_source_management.py
  lib/huxunifylib-database/huxunifylib/database/data_management.py
  lib/huxunifylib-database/huxunifylib/database/delete_util.py
  lib/huxunifylib-database/huxunifylib/database/delivery_platform_management.py
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
  lib/huxunifylib-database/huxunifylib/database/notification_management.py
  lib/huxunifylib-database/huxunifylib/database/orchestration_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_audience_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_engagement_management.py
  lib/huxunifylib-database/huxunifylib/database/user_management.py
  mypy.ini
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour

small fixes in delete_util.py
  lib/huxunifylib-database/huxunifylib/database/delete_util.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour

add audience on fly
  hux/frontend/src/components/common/Drawer.vue
  hux/frontend/src/components/common/MetricCard.vue
  hux/frontend/src/views/Audiences/AttributeRules.vue
  hux/frontend/src/views/Engagements/Configuration/Drawers/AddAudienceDrawer.vue
  hux/frontend/src/views/Engagements/Configuration/Drawers/SelectAudiencesDrawer.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

linting and ref fix
  hux/frontend/src/components/common/Drawer.vue
  hux/frontend/src/views/Engagements/Configuration/Drawers/AddAudienceDrawer.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

minor fix
  hux/frontend/src/views/Engagements/Configuration/Drawers/AddAudienceDrawer.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

minor fixes
  hux/frontend/src/components/common/Drawer.vue
  hux/frontend/src/views/Engagements/Configuration/Drawers/AddAudienceDrawer.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

fixed error in delete_util.py
  lib/huxunifylib-database/huxunifylib/database/delete_util.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour

updated based on pr feedback
  lib/huxunifylib-database/huxunifylib/database/tests/test_cdp_data_source_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour

addressed PR comments
  lib/huxunifylib-database/huxunifylib/database/audience_data_management_util.py
  lib/huxunifylib-database/huxunifylib/database/audience_management.py
  lib/huxunifylib-database/huxunifylib/database/cdp_data_source_management.py
  lib/huxunifylib-database/huxunifylib/database/data_management.py
  lib/huxunifylib-database/huxunifylib/database/delete_util.py
  lib/huxunifylib-database/huxunifylib/database/delivery_platform_management.py
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
  lib/huxunifylib-database/huxunifylib/database/notification_management.py
  lib/huxunifylib-database/huxunifylib/database/orchestration_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_audience_management.py
  lib/huxunifylib-database/huxunifylib/database/user_management.py
  mypy.ini
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour

updated audience id for end points
  hux/api/huxunify/api/route/engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

resolved comments.
  hux/frontend/src/components/common/Drawer.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Customized Table Non-ExpandedRow
  hux/frontend/.eslintrc.js
  hux/frontend/src/components/CampaignSummary.vue
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
  hux/frontend/src/views/Engagements/Dashboard.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

.github/CODEOWNERS:

# UI processes
hux/frontend/ @Abdullah-Azad @henrikr @mohitbans @rahgoel @sach9993

# api processes
hux/api/ @seahawks8 @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @henrikr @soumya-pb

# CI/CD processes
*codefresh.yml @pfleetwood1 @JyotiSingh7 @seahawks8 @bernieblab @henrikr

# huxunifylib-database
scripts/ @jazzblue @seahawks8 @anoop0m @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour
lib/ @jazzblue @seahawks8 @anoop0m @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour
