Repository svishwari/svishwari, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr, @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @pfleetwood1, @JyotiSingh7, @jazzblue, @anoop0m

.github/CODEOWNERS:

# UI processes
hux/frontend/ @Abdullah-Azad @mohitbans @rahgoel @henrikr

# api processes
hux/api/ @seahawks8 @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @henrikr @soumya-pb

# CI/CD processes
*codefresh.yml @pfleetwood1 @JyotiSingh7 @seahawks8 @bernieblab @henrikr

# huxunifylib-database
scripts/ @jazzblue @seahawks8 @anoop0m @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb
lib/ @jazzblue @seahawks8 @anoop0m @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb

added initial okta connector
  hux/api/huxunify/api/config.py
  hux/api/huxunify/api/data_connectors/okta.py
  hux/api/huxunify/api/route/utils.py
  hux/api/huxunify/test/data_connectors/test_okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

pending status
  lib/huxunifylib-database/huxunifylib/database/constants.py
  scripts/database/prepopulate_database.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

added test calls for decorator
  hux/api/huxunify/api/data_connectors/okta.py
  hux/api/huxunify/api/route/utils.py
  hux/api/huxunify/test/data_connectors/test_okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

added constants
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/utils.py
  hux/api/huxunify/test/data_connectors/test_okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

fixed typo in MONITORING-CONFIG
  hux/api/huxunify/api/config.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

clean up
  hux/api/huxunify/api/route/utils.py
  hux/api/huxunify/test/data_connectors/test_okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

lint fixes
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Update hux/api/huxunify/test/data_connectors/test_okta.py
  hux/api/huxunify/test/data_connectors/test_okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Update hux/api/huxunify/test/data_connectors/test_okta.py
  hux/api/huxunify/test/data_connectors/test_okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

fix based on feedback
  hux/api/huxunify/api/data_connectors/okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

create indexes
  lib/huxunifylib-database/huxunifylib/database/constants.py
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
  scripts/database/create_database_indexes.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

create indexes
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
  scripts/database/create_database_indexes.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

resolved based on mohits feedback
  scripts/database/prepopulate_database.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

added missing svg's
  hux/frontend/src/assets/logos/fullstory.svg
  hux/frontend/src/assets/logos/litmus.svg
  hux/frontend/src/assets/logos/quantummetric.svg
  hux/frontend/src/assets/logos/sap.svg
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

engaged audiences update
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
  lib/huxunifylib-database/huxunifylib/database/orchestration_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_engagement_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

engaged audiences update
  lib/huxunifylib-database/huxunifylib/database/constants.py
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_engagement_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

engaged audiences update
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_engagement_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

work started
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
  hux/frontend/src/router/index.js
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Update hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/constants.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

test engagements
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_engagement_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_orchestration_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

test engagements
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_engagement_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

use latest huxunifylib(s)
  hux/api/Pipfile.lock
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

have ingestion_job_id as optional
  lib/huxunifylib-database/huxunifylib/database/audience_data_management_util.py
  lib/huxunifylib-database/huxunifylib/database/audience_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_audience_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_delivery_platform.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_utils.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

clean up
  lib/huxunifylib-database/huxunifylib/database/audience_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

added auth to routes and initial security schema to APP for demo.
  hux/api/huxunify/api/route/cdp_data_source.py
  hux/api/huxunify/api/route/decisioning.py
  hux/api/huxunify/api/route/destination.py
  hux/api/huxunify/api/route/notifications.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/api/route/user.py
  hux/api/huxunify/api/route/utils.py
  hux/api/huxunify/app.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

HUS-416: Use okta id instead of user id for user db queries
  lib/huxunifylib-database/huxunifylib/database/tests/test_user_management.py
  lib/huxunifylib-database/huxunifylib/database/user_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

UI completed for level 1
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

attach engagements
  hux/frontend/src/components/common/TextField.vue
  hux/frontend/src/views/Audiences/AttachEngagement.vue
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

added auth to routes and initial security schema to APP for demo.
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/cdp_data_source.py
  hux/api/huxunify/api/route/decisioning.py
  hux/api/huxunify/api/route/destination.py
  hux/api/huxunify/api/route/notifications.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/api/route/utils.py
  hux/api/huxunify/app.py
  hux/api/huxunify/test/route/test_is_secured.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

added auth to routes and initial security schema to APP for demo.
  hux/api/huxunify/test/route/test_is_secured.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

color changes
  hux/frontend/src/plugins/colors.js
  hux/frontend/src/plugins/theme.js
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

removed the security tags, will handle in FASTAPI instead of this hacky way in Flasgger
  hux/api/huxunify/api/route/__init__.py
  hux/api/huxunify/api/route/cdp_data_source.py
  hux/api/huxunify/api/route/decisioning.py
  hux/api/huxunify/api/route/destination.py
  hux/api/huxunify/api/route/notifications.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/test/route/test_is_secured.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

will add in fastapi
  hux/api/huxunify/app.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

test debug for CI/CD
  hux/api/huxunify/test/route/test_is_secured.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

remove items that will be covered in fastapi
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/__init__.py
  hux/api/huxunify/api/route/cdp_data_source.py
  hux/api/huxunify/api/route/decisioning.py
  hux/api/huxunify/api/route/destination.py
  hux/api/huxunify/api/route/notifications.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/api/route/user.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

general cleanup
  hux/api/huxunify/api/route/decisioning.py
  hux/api/huxunify/api/route/utils.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Added conition for child
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

added the auth, fixed an issue
  hux/api/huxunify/api/config.py
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/cdp_data_source.py
  hux/api/huxunify/api/route/decisioning.py
  hux/api/huxunify/api/route/destination.py
  hux/api/huxunify/api/route/notifications.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/api/route/user.py
  hux/api/huxunify/api/route/utils.py
  hux/api/huxunify/app.py
  hux/api/huxunify/test/route/test_is_secured.py
  hux/api/tox.ini
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

added the auth, fixed an issue
  hux/api/huxunify/api/config.py
  hux/api/huxunify/api/constants.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

corrected id structure
  hux/frontend/src/views/Audiences/AttachEngagement.vue
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr
