Repository svishwari/svishwari, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr, @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @pfleetwood1, @JyotiSingh7, @jazzblue, @anoop0m

removed end-to-end test
  hux/api/huxunify/test/route/test_is_secured.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

fixed engagement removal
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

updated unit test headers.
  hux/api/huxunify/test/data_connectors/test_okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Implemented user avatar cell
  hux/frontend/src/components/common/Index.vue
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
  hux/frontend/src/utils.js
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

updated the pipeline for engagements
  lib/huxunifylib-database/huxunifylib/database/engagement_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_engagement_management.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

added props in HuxDataTable component
  hux/frontend/src/components/common/Index.vue
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

lint fixes
  hux/frontend/src/components/common/Index.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

removed un-wanted code
  hux/frontend/src/router/index.js
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

added sort
  hux/frontend/src/components/NavBar.vue
  hux/frontend/src/components/UserAvatar.vue
  hux/frontend/src/main.js
  hux/frontend/src/styles/utils.scss
  hux/frontend/src/views/Audiences/AttachEngagement.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

styling changes
  hux/frontend/src/plugins/colors.js
  hux/frontend/src/plugins/theme.js
  hux/frontend/src/views/Audiences/AttachEngagement.vue
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Customer Profiles Overview Addition
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/__init__.py
  hux/api/huxunify/api/route/customer_profiles.py
  hux/api/huxunify/api/schema/customer_profiles.py
  hux/api/huxunify/test/route/test_customer_profiles.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Create test_data_sources.py
  hux/api/huxunify/test/route/test_data_sources.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Use deleted flag for destinations
  lib/huxunifylib-database/huxunifylib/database/constants.py
  lib/huxunifylib-database/huxunifylib/database/delivery_platform_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_delivery_platform.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

use deleted for destinations
  lib/huxunifylib-database/huxunifylib/database/delete_util.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

Update hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/constants.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

resolved comments
  hux/frontend/package.json
  hux/frontend/src/main.js
  hux/frontend/src/views/Audiences/AttachEngagement.vue
  hux/frontend/yarn.lock
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

moved v-for to top
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

changed for adding ltv values
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/customer_profiles.py
  hux/api/huxunify/api/schema/customer_profiles.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

set added field when creating destination
  lib/huxunifylib-database/huxunifylib/database/delivery_platform_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_delivery_platform.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

remove deleted from return value
  lib/huxunifylib-database/huxunifylib/database/delivery_platform_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_delivery_platform.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

Destination integrations.
  hux/frontend/src/api/client.js
  hux/frontend/src/api/mock/factories/destination.js
  hux/frontend/src/api/mock/routes.js
  hux/frontend/src/api/mock/seeds.js
  hux/frontend/src/api/mock/server.js
  hux/frontend/src/assets/logos/SFMC.svg
  hux/frontend/src/components/common/TextField.vue
  hux/frontend/src/store/modules/destinations.js
  hux/frontend/src/views/Destinations/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

engagement branch
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/__init__.py
  hux/api/huxunify/api/route/engagement.py
  hux/api/huxunify/api/schema/engagement.py
  hux/api/huxunify/test/schema/test_engagement_schema.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Update hux/api/huxunify/api/route/engagement.py
  hux/api/huxunify/api/route/engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

removed the garbage
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/utils.py
  hux/api/huxunify/app.py
  hux/api/huxunify/test/data_connectors/test_okta.py
  hux/api/huxunify/test/route/test_is_secured.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

merged with engagements
  hux/api/huxunify/api/route/engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

addded api support
  hux/frontend/src/api/mock/factories/engagement.js
  hux/frontend/src/api/mock/routes.js
  hux/frontend/src/api/mock/seeds.js
  hux/frontend/src/store/modules/engagements.js
  hux/frontend/src/views/Audiences/AttachEngagement.vue
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Addressed PR review comment
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

New customer profiles endpoint added
  hux/api/huxunify/api/config.py
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/data_connectors/cdp.py
  hux/api/huxunify/api/route/customer.py
  hux/api/huxunify/api/schema/customer.py
  hux/api/huxunify/api/schema/utils.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

PR review comment addressed
  hux/frontend/src/components/common/MetricCard.vue
  hux/frontend/src/store/modules/audiences.js
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

lint fixes
  hux/frontend/src/store/modules/audiences.js
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

fixed sorting
  hux/frontend/src/views/Audiences/AttachEngagement.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

resolved new engagement addition
  hux/frontend/src/views/Audiences/AttachEngagement.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

styling and naming fixes
  hux/frontend/src/api/mock/factories/engagement.js
  hux/frontend/src/components/common/CardHorizontal.vue
  hux/frontend/src/views/Audiences/AttachEngagement.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

empty state
  hux/frontend/src/components/common/EmptyPage.vue
  hux/frontend/src/views/Audiences/AttachEngagement.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Created payload for API request
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Implemented API Support
  hux/frontend/src/api/mock/factories/audiences.js
  hux/frontend/src/api/mock/routes.js
  hux/frontend/src/api/mock/seeds.js
  hux/frontend/src/store/modules/audiences.js
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

lint fixes
  hux/frontend/src/api/mock/factories/audiences.js
  hux/frontend/src/api/mock/seeds.js
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

HUS-441: Updates to audience API
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/api/schema/orchestration.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

renamed variable
  hux/frontend/src/api/mock/factories/engagement.js
  hux/frontend/src/components/common/CardHorizontal.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

.github/CODEOWNERS:

# UI processes
hux/frontend/ @Abdullah-Azad @mohitbans @rahgoel @henrikr

# api processes
hux/api/ @seahawks8 @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @henrikr @soumya-pb

# CI/CD processes
*codefresh.yml @pfleetwood1 @JyotiSingh7 @seahawks8 @bernieblab @henrikr

# huxunifylib-database
scripts/ @jazzblue @seahawks8 @anoop0m @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb
lib/ @jazzblue @seahawks8 @anoop0m @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb
