Repository svishwari/svishwari, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr, @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @pfleetwood1, @JyotiSingh7, @jazzblue, @anoop0m

.github/CODEOWNERS:

# UI processes
hux/frontend/ @Abdullah-Azad @mohitbans @rahgoel @henrikr

# api processes
hux/api/ @seahawks8 @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @henrikr @soumya-pb

# CI/CD processes
*codefresh.yml @pfleetwood1 @JyotiSingh7 @seahawks8 @bernieblab @henrikr

# huxunifylib-database
scripts/ @jazzblue @seahawks8 @anoop0m @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb
lib/ @jazzblue @seahawks8 @anoop0m @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb

Merge branch 'main' of github.com:DeloitteHux/Hux-Unified-Solution into HUS-365
  hux/frontend/tests/unit/components/common/__snapshots__/CardInfo.spec.js.snap
  hux/frontend/tests/unit/components/common/__snapshots__/PageHeader.spec.js.snap
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

engagement fixes
  hux/api/huxunify/api/route/engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

added error handling for duplicate name
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

resolved comments.
  hux/frontend/src/api/mock/seeds.js
  hux/frontend/src/components/PageHeader.vue
  hux/frontend/src/components/SideMenu.vue
  hux/frontend/src/components/common/Status.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

All new UI Issues fixed
  hux/frontend/src/components/common/huxTable.vue
  hux/frontend/src/views/Audiences/Configuration.vue
  hux/frontend/src/views/Audiences/Index.vue
  hux/frontend/src/views/Login.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Minor Fix!
  hux/frontend/src/views/Connections/Index.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Changed api descriptions
  hux/api/huxunify/api/route/cdp_data_source.py
  hux/api/huxunify/api/route/decisioning.py
  hux/api/huxunify/api/route/destination.py
  hux/api/huxunify/api/route/notifications.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/api/route/user.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

pinned the latest huxuniylib-database version
  hux/api/Pipfile.lock
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Additional UI Fixes asked by Rebecca
  hux/frontend/src/views/Audiences/AttributeRules.vue
  hux/frontend/src/views/Audiences/Configuration.vue
  hux/frontend/src/views/Audiences/Index.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Last fix
  hux/frontend/src/components/common/huxTable/MenuCell.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

removed mongomock import
  hux/api/huxunify/api/route/utils.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

UI micro fix!
  hux/frontend/src/views/Audiences/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

API Integration done, API neds changes before PR.
  hux/frontend/src/components/common/huxTable/UserAvatarCell.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Pushing all pending code!
  hux/frontend/src/api/mock/factories/audiences.js
  hux/frontend/src/api/mock/routes.js
  hux/frontend/src/api/mock/seeds.js
  hux/frontend/src/api/mock/server.js
  hux/frontend/src/components/common/huxTable/DateTimeCell.vue
  hux/frontend/src/components/common/huxTable/MenuCell.vue
  hux/frontend/src/components/common/huxTable/sizeCell.vue
  hux/frontend/src/store/modules/audiences.js
  hux/frontend/src/views/Audiences/Configuration.vue
  hux/frontend/src/views/Audiences/Index.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

commenting to fix console error
  hux/frontend/src/views/Audiences/Index.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Reverted API files pull!
  hux/frontend/src/api/mock/server.js
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Rebase API folder
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/__init__.py
  hux/api/huxunify/api/route/engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

very minor fixes
  hux/frontend/src/components/NavBarMenu.vue
  hux/frontend/src/components/Notification.vue
  hux/frontend/src/components/SideMenu.vue
  hux/frontend/src/styles/utils.scss
  hux/frontend/src/styles/variables.scss
  hux/frontend/src/styles/variables/badge.variables.scss
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Linting issue and Null Check fixed!
  hux/frontend/src/api/mock/server.js
  hux/frontend/src/components/common/huxTable/UserAvatarCell.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

API Integration using hard coded mock data
  hux/frontend/src/store/modules/audiences.js
  hux/frontend/src/views/Audiences/Index.vue
  hux/frontend/src/views/Audiences/Insight.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Spelling correction!
  hux/frontend/src/components/common/huxTable/MenuCell.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

API Integration completed
  hux/frontend/src/api/mock/factories/audiences.js
  hux/frontend/src/api/mock/routes.js
  hux/frontend/src/components/common/MetricCard.vue
  hux/frontend/src/components/common/huxTable/MenuCell.vue
  hux/frontend/src/store/modules/audiences.js
  hux/frontend/src/utils.js
  hux/frontend/src/views/Audiences/Insight.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Lint fixes
  hux/frontend/src/api/mock/factories/audiences.js
  hux/frontend/src/store/modules/audiences.js
  hux/frontend/src/utils.js
  hux/frontend/src/views/Audiences/Insight.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Update hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/constants.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Update hux/frontend/src/api/mock/factories/audiences.js
  hux/frontend/src/api/mock/factories/audiences.js
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Rename things.
  hux/frontend/src/api/mock/factories/destination.js
  hux/frontend/src/api/mock/seeds.js
  hux/frontend/src/store/modules/destinations.js
  hux/frontend/src/views/Destinations/Configuration.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Code Formatting fix!
  hux/frontend/src/views/Engagements/Index.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Pass in type as well.
  hux/frontend/src/store/modules/destinations.js
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

Code review fixes
  hux/api/huxunify/api/route/__init__.py
  hux/frontend/src/api/mock/factories/audiences.js
  hux/frontend/src/api/mock/seeds.js
  hux/frontend/src/views/Audiences/Configuration.vue
  hux/frontend/src/views/Engagements/Index.vue
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb, @Abdullah-Azad, @mohitbans, @rahgoel

updated to destinations api
  hux/api/huxunify/api/data_connectors/aws.py
  hux/api/huxunify/api/route/destination.py
  hux/api/huxunify/api/schema/destinations.py
  hux/api/huxunify/api/schema/orchestration.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

update destination api
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/destination.py
  hux/api/huxunify/api/schema/destinations.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

PR comments addressed
  hux/frontend/src/api/mock/factories/audiences.js
  hux/frontend/src/store/modules/audiences.js
  hux/frontend/src/views/Audiences/Insight.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

lint fixes
  hux/frontend/src/store/modules/audiences.js
  hux/frontend/src/views/Audiences/Insight.vue
Owners: @Abdullah-Azad, @mohitbans, @rahgoel, @henrikr

added type to the datasources
  scripts/database/prepopulate_database.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

added active and coming soon status added type to destinations for UI, set constants for coming soon and active status
  lib/huxunifylib-database/huxunifylib/database/constants.py
  scripts/database/prepopulate_database.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

added remaining pending
  scripts/database/prepopulate_database.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

available flag
  lib/huxunifylib-database/huxunifylib/database/cdp_data_source_management.py
  lib/huxunifylib-database/huxunifylib/database/constants.py
  scripts/database/prepopulate_database.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

added available/enabled for three enabled docs
  scripts/database/prepopulate_database.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb

test okta introspect
  hux/api/huxunify/test/data_connectors/test_okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

remove available
  lib/huxunifylib-database/huxunifylib/database/cdp_data_source_management.py
  lib/huxunifylib-database/huxunifylib/database/constants.py
  scripts/database/prepopulate_database.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb
