Repository svishwari/svishwari, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snaragana-deloitte, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @skondalraj-deloitte, @pfleetwood1, @JyotiSingh7, @MoazMansour, @sairajput-deloitte, @rmahato-deloitte, @shashaagrawal-deloitte, @rebbradleydeloitte, @kitani-deloitte

.github/CODEOWNERS:

# ALL
hux/ @snaragana-deloitte

# UI processes
hux/frontend/ @sach9993 @svishwari @sameerksingh1236 @shubhamkumar74 @shahlakhani-deloitte @soumya-pb @risheek-deloitte @dcl-deloitte
hux/integration_tests/frontend @sach9993 @svishwari @sameerksingh1236 @shubhamkumar74 @shahlakhani-deloitte @soumya-pb @risheek-deloitte @dcl-deloitte

# API processes
hux/api/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @sameerksingh1236 @svishwari
hux/integration_tests/api @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @sameerksingh1236 @svishwari
hux/api/load_tests/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @sameerksingh1236 @svishwari

# CI/CD processes
*codefresh.yml @pfleetwood1 @JyotiSingh7 @dcl-deloitte

# huxunifylib-database
scripts/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour @risheek-deloitte @skondalraj-deloitte @svishwari
lib/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour @risheek-deloitte @sairajput-deloitte @rmahato-deloitte @skondalraj-deloitte @shashaagrawal-deloitte @svishwari

# docs - Documentation processes
docs/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @snaragana-deloitte @rebbradleydeloitte @kitani-deloitte

resolve ID field for model response
  hux/api/huxunify/api/schema/model.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari

update unit test for id field
  hux/api/huxunify/test/schema/test_model_schema.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari

updating codefresh code for RC1 deployment
  hux/api/ci/codefresh_cd.yml
  hux/api/ci/codefresh_ci.yml
  hux/frontend/ci/codefresh_cd.yml
  hux/frontend/ci/codefresh_ci.yml
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari, @sach9993, @shubhamkumar74, @shahlakhani-deloitte

Adding Snowflake details to readme
  README.md
Owners: none

nitpick
  hux/api/ci/codefresh_cd.yml
  hux/frontend/ci/codefresh_cd.yml
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari, @sach9993, @shubhamkumar74, @shahlakhani-deloitte

addressed change
  hux/frontend/src/views/Configuration/ClientSettings/ClientSettings.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

made most of large metric card
  hux/frontend/src/stories/cards/LargeMetricCard.vue
  hux/frontend/src/stories/cards/PlainCard.vue
  hux/frontend/src/stories/cards/card.stories.js
  hux/frontend/src/stories/cards/largeMetricCard.stories.js
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

7 bugs fixed
  hux/frontend/src/views/AlertsAndNotifications/Index.vue
  hux/frontend/src/views/Engagements/Configuration/Drawers/AudienceDetailDrawer.vue
  hux/frontend/src/views/Engagements/Configuration/Form.vue
  hux/frontend/src/views/Engagements/Configuration/Index.vue
  hux/frontend/src/views/HXTrustId/AttributeTable.vue
  hux/frontend/src/views/HXTrustId/Index.vue
  hux/frontend/src/views/Home.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

HUS-3149: Demo config phase3 audience tags API changes
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/api/schema/orchestration.py
  hux/api/huxunify/test/route/test_orchestration.py
  hux/api/huxunify/test/schema/test_orchestration_schema.py
  lib/huxunifylib-database/huxunifylib/database/constants.py
  lib/huxunifylib-database/huxunifylib/database/delivery_platform_management.py
  lib/huxunifylib-database/huxunifylib/database/orchestration_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_orchestration_management.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari, @MoazMansour, @sairajput-deloitte, @rmahato-deloitte, @shashaagrawal-deloitte

HUS-3149: Black formatting
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/api/schema/orchestration.py
  hux/api/huxunify/test/route/test_orchestration.py
  hux/api/huxunify/test/schema/test_orchestration_schema.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari

HUS-3149: Black formatting
  hux/api/huxunify/test/schema/test_orchestration_schema.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari

HUS-3149: Black formatting
  lib/huxunifylib-database/huxunifylib/database/constants.py
  lib/huxunifylib-database/huxunifylib/database/delivery_platform_management.py
  lib/huxunifylib-database/huxunifylib/database/orchestration_management.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_orchestration_management.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @sairajput-deloitte, @rmahato-deloitte, @skondalraj-deloitte, @shashaagrawal-deloitte, @svishwari

HUS-3149: Black formatting
  lib/huxunifylib-database/huxunifylib/database/constants.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @sairajput-deloitte, @rmahato-deloitte, @skondalraj-deloitte, @shashaagrawal-deloitte, @svishwari

finished pill mostly and finished cards mostly
  hux/frontend/src/stories/Banners/Banner.vue
  hux/frontend/src/stories/cards/LargeMetricCard.vue
  hux/frontend/src/stories/cards/SmallMetricCard.vue
  hux/frontend/src/stories/cards/smallMetricCard.stories.js
  hux/frontend/src/stories/pills/Pill.vue
  hux/frontend/src/stories/pills/pill.stories.js
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

local navigation changes !!!
  hux/frontend/src/api/mock/fixtures/menuConfig.js
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

lint fixes !!!
  hux/frontend/src/api/mock/fixtures/menuConfig.js
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

2 components added
  hux/frontend/src/assets/icons/close-remove.svg
  hux/frontend/src/assets/icons/guiding.svg
  hux/frontend/src/assets/icons/informative.svg
  hux/frontend/src/assets/icons/negative.svg
  hux/frontend/src/assets/icons/offline.svg
  hux/frontend/src/assets/icons/positive.svg
  hux/frontend/src/assets/icons/warning.svg
  hux/frontend/src/components/common/Banner.vue
  hux/frontend/src/stories/alertToast/alertToast.stories.js
  hux/frontend/src/stories/alertToast/alertToast.vue
  hux/frontend/src/stories/iconButton/plainButton.stories.js
  hux/frontend/src/stories/iconButton/plainButton.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

update button fix
  hux/frontend/src/views/Configuration/ClientSettings/ClientSettings.vue
  hux/frontend/src/views/Configuration/tabs.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

small change
  hux/frontend/src/views/Configuration/ClientSettings/ClientSettings.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

2 more components
  hux/frontend/src/assets/icons/informative-rev.svg
  hux/frontend/src/stories/GuideButton/GuideButton.stories.js
  hux/frontend/src/stories/GuideButton/GuideButton.vue
  hux/frontend/src/stories/iconButton/plainButton.vue
  hux/frontend/src/stories/tooltip/Tooltip2.stories.js
  hux/frontend/src/stories/tooltip/Tooltip2.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

HUS-3182: Encforce username when creating notifications
  lib/huxunifylib-database/huxunifylib/database/notification_management.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @sairajput-deloitte, @rmahato-deloitte, @skondalraj-deloitte, @shashaagrawal-deloitte, @svishwari

trust id fix !!!
  hux/frontend/src/views/HXTrustId/Index.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

lint fixes !!!
  hux/frontend/src/views/HXTrustId/Index.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

comment removed !!!
  hux/frontend/src/views/HXTrustId/Index.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

changed pending to active
  hux/api/huxunify/api/route/decisioning.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari

lint style fix
  hux/frontend/src/stories/alertToast/alertToast.vue
  hux/frontend/src/stories/tooltip/Tooltip2.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

cards done
  hux/frontend/src/stories/cards/SmallMetricCard.vue
  hux/frontend/src/stories/cards/smallMetricCard.stories.js
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

search done
  hux/frontend/src/stories/search/SearchBar.vue
  hux/frontend/src/stories/search/searchBar.stories.js
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

built drawer and built filter base
  hux/frontend/src/stories/Drawer/Drawer2.vue
  hux/frontend/src/stories/Drawer/drawer.stories.js
  hux/frontend/src/stories/filters/FilterDrawer.vue
  hux/frontend/src/stories/filters/filterDrawer.stories.js
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

HUS-3177: Fetch countries from CDM
  hux/api/huxunify/api/data_connectors/cdp.py
  hux/api/huxunify/api/route/orchestration.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari

Draft changes to IDR RC1
  hux/api/huxunify/api/route/customers.py
  hux/api/huxunify/api/route/orchestration.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari

TOCICD-137 Update Whitesource settings
  hux/api/ci/whitesource/codefresh-ws-scan.yml
  hux/frontend/ci/whitesource/codefresh-ws-scan.yml
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari, @sach9993, @shubhamkumar74, @shahlakhani-deloitte

progress on filter drawers and cards
  hux/frontend/src/stories/Drawer/Drawer2.vue
  hux/frontend/src/stories/Drawer/drawer.stories.js
  hux/frontend/src/stories/filters/CardFilter.vue
  hux/frontend/src/stories/filters/FilterDrawer.vue
  hux/frontend/src/stories/filters/FilterPanels.vue
  hux/frontend/src/stories/filters/filterDrawer.stories.js
  hux/frontend/src/stories/filters/testFilterOptions.js
  hux/frontend/src/stories/lists/HuxList.vue
  hux/frontend/src/stories/lists/huxList.stories.js
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

HUS-3148: Demo config phase3 model tags API changes
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/data_connectors/decisioning.py
  hux/api/huxunify/api/route/decisioning.py
  hux/api/huxunify/api/schema/model.py
  hux/api/huxunify/test/constants.py
  hux/api/huxunify/test/route/test_configurations.py
  hux/api/huxunify/test/route/test_decisioning.py
  hux/api/huxunify/test/schema/test_model_schema.py
  lib/huxunifylib-database/huxunifylib/database/constants.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari, @MoazMansour, @sairajput-deloitte, @rmahato-deloitte, @shashaagrawal-deloitte

HUS-3148: Black formatting
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/data_connectors/decisioning.py
  hux/api/huxunify/api/route/decisioning.py
  hux/api/huxunify/api/schema/model.py
  hux/api/huxunify/test/constants.py
  hux/api/huxunify/test/route/test_configurations.py
  hux/api/huxunify/test/route/test_decisioning.py
  hux/api/huxunify/test/schema/test_model_schema.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari

HUS-3148: Black formatting
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/decisioning.py
  hux/api/huxunify/api/schema/model.py
  hux/api/huxunify/test/constants.py
  hux/api/huxunify/test/route/test_configurations.py
  hux/api/huxunify/test/route/test_decisioning.py
  hux/api/huxunify/test/schema/test_model_schema.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari

HUS-3148: Black formatting
  lib/huxunifylib-database/huxunifylib/database/constants.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @sairajput-deloitte, @rmahato-deloitte, @skondalraj-deloitte, @shashaagrawal-deloitte, @svishwari

HUS-3148: Black formatting
  lib/huxunifylib-database/huxunifylib/database/constants.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @sairajput-deloitte, @rmahato-deloitte, @skondalraj-deloitte, @shashaagrawal-deloitte, @svishwari

HUS-3148: Black formatting
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @svishwari

HUS-3148: Moved literals to constants
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/decisioning.py
  hux/api/huxunify/test/constants.py
  hux/api/huxunify/test/route/test_decisioning.py
  hux/api/huxunify/test/schema/test_model_schema.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari
