Repository svishwari/svishwari, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993, @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @pfleetwood1, @JyotiSingh7, @jazzblue, @anoop0m, @MoazMansour

.github/CODEOWNERS:

# UI processes
hux/frontend/ @Abdullah-Azad @henrikr @mohitbans @rahgoel @sach9993

# api processes
hux/api/ @seahawks8 @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @henrikr @soumya-pb

# CI/CD processes
*codefresh.yml @pfleetwood1 @JyotiSingh7 @seahawks8 @bernieblab @henrikr

# huxunifylib-database
scripts/ @jazzblue @seahawks8 @anoop0m @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour
lib/ @jazzblue @seahawks8 @anoop0m @bernieblab @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour

removed extra files
  hux/api/huxunify/test/data_connectors/.hypothesis/examples/c52070ab2bfd93d6/1086a78797317d2d
  hux/api/huxunify/test/data_connectors/.hypothesis/examples/c52070ab2bfd93d6/272a479f57140cba
  hux/api/huxunify/test/data_connectors/.hypothesis/examples/c52070ab2bfd93d6/6525c115a795f3b7
  hux/api/huxunify/test/data_connectors/.hypothesis/examples/c52070ab2bfd93d6/8c1788a85ebe10d7
  hux/api/huxunify/test/data_connectors/.hypothesis/examples/c52070ab2bfd93d6/bec021b4f368e306
  hux/api/huxunify/test/data_connectors/.hypothesis/examples/c52070ab2bfd93d6/ff2dc57d95ab925a
  hux/api/huxunify/test/data_connectors/.hypothesis/unicode_data/11.0.0/charmap.json.gz
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

added patch method
  hux/api/huxunify/test/route/.hypothesis/unicode_data/11.0.0/charmap.json.gz
  hux/api/huxunify/test/route/test_is_secured.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

slot and bug fix
  hux/frontend/src/components/CampaignSummary.vue
  hux/frontend/src/components/SideMenu.vue
  hux/frontend/src/components/UserAvatar.vue
  hux/frontend/src/components/common/Avatar.vue
  hux/frontend/src/components/common/Breadcrumb.vue
  hux/frontend/src/components/common/CardInfo.vue
  hux/frontend/src/components/common/Cards/Stat.vue
  hux/frontend/src/components/common/ConfirmModal.vue
  hux/frontend/src/components/common/DataCards.vue
  hux/frontend/src/components/common/Drawer.vue
  hux/frontend/src/components/common/DropdownMenu.vue
  hux/frontend/src/components/common/HuxDropdown.vue
  hux/frontend/src/components/common/HuxSlider.vue
  hux/frontend/src/components/common/Index.vue
  hux/frontend/src/components/common/Status.vue
  hux/frontend/src/components/common/StatusList.vue
  hux/frontend/src/components/common/TextField.vue
  hux/frontend/src/components/common/Tooltip.vue
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
  hux/frontend/src/components/common/huxTable/DestinationCell.vue
  hux/frontend/src/components/common/huxTable/MenuCell.vue
  hux/frontend/src/components/common/huxTable/UserAvatarCell.vue
  hux/frontend/src/components/common/huxTable/attributeCell.vue
  hux/frontend/src/views/Audiences/AddDestination.vue
  hux/frontend/src/views/Audiences/AttachEngagement.vue
  hux/frontend/src/views/Audiences/Configuration.vue
  hux/frontend/src/views/Audiences/Index.vue
  hux/frontend/src/views/Audiences/Insight.vue
  hux/frontend/src/views/Connections/DataSourcesList.vue
  hux/frontend/src/views/Connections/DestinationsList.vue
  hux/frontend/src/views/DataSources/Configuration.vue
  hux/frontend/src/views/Destinations/Configuration.vue
  hux/frontend/src/views/Models.vue
  hux/frontend/src/views/Overview.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

added user_id decorator
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/data_connectors/okta.py
  hux/api/huxunify/api/route/destination.py
  hux/api/huxunify/api/route/engagement.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/api/route/utils.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

resolved string format
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/orchestration.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

updated the introspection of the token comment
  hux/api/huxunify/api/route/utils.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

resolved comments.
  hux/frontend/src/components/common/CardHorizontal.vue
  hux/frontend/src/components/common/MetricCard.vue
  hux/frontend/src/styles/utils.scss
  hux/frontend/src/views/Audiences/Insight.vue
  hux/frontend/src/views/Engagements/Dashboard.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

unit tests
  hux/api/huxunify/test/data_connectors/.hypothesis/unicode_data/11.0.0/charmap.json.gz
  hux/api/huxunify/test/data_connectors/test_okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

unit tests
  hux/api/huxunify/test/data_connectors/test_okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

add hypothesis to the tests.
  hux/api/Pipfile
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

v-bind fix
  hux/frontend/src/components/common/CardInfo.vue
  hux/frontend/src/components/common/DropdownMenu.vue
  hux/frontend/src/components/common/HuxDropdown.vue
  hux/frontend/src/components/common/Index.vue
  hux/frontend/src/components/common/MetricCard.vue
  hux/frontend/src/components/common/huxTable/StatusCell.vue
  hux/frontend/src/components/common/huxTable/UserAvatarCell.vue
  hux/frontend/src/layouts/AppLayout.vue
  hux/frontend/src/views/Audiences/AddDestination.vue
  hux/frontend/src/views/Audiences/Configuration.vue
  hux/frontend/src/views/Audiences/Index.vue
  hux/frontend/src/views/Audiences/Insight.vue
  hux/frontend/src/views/Destinations/Listing.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

updated unit tests
  hux/api/huxunify/api/data_connectors/okta.py
  hux/api/huxunify/test/data_connectors/.hypothesis/unicode_data/11.0.0/charmap.json.gz
  hux/api/huxunify/test/data_connectors/test_okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

added hypo to dev-packages, updated hashes.
  hux/api/Pipfile
  hux/api/Pipfile.lock
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

lint fixes
  hux/frontend/src/components/common/HuxDropdown.vue
  hux/frontend/src/components/common/Index.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Suggested doc string changes, Method naming change
  hux/api/huxunify/test/route/test_engagement.py
  hux/api/huxunify/test/route/test_orchestration.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

90 % Done, Unit Test Pending.
  hux/frontend/src/api/client.js
  hux/frontend/src/api/mock/factories/audiencePerformance.js
  hux/frontend/src/api/mock/routes.js
  hux/frontend/src/api/mock/seeds.js
  hux/frontend/src/api/mock/server.js
  hux/frontend/src/api/resources.js
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
  hux/frontend/src/store/modules/engagements.js
  hux/frontend/src/views/Engagements/Dashboard.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Binding done for both tabs
  hux/frontend/src/api/mock/routes.js
  hux/frontend/src/components/CampaignSummary.vue
  hux/frontend/src/store/modules/engagements.js
  hux/frontend/src/views/Engagements/Dashboard.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Profile changes
  hux/frontend/src/router/index.js
  hux/frontend/src/views/Profiles/CustomerProfiles.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

added hypo to dev-packages, updated hashes.
  hux/api/Pipfile
  hux/api/Pipfile.lock
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

changed route name
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/customers.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

resolved docstring missing
  hux/api/huxunify/api/data_connectors/okta.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Changes in datasources for prepopulate
  scripts/database/prepopulate_database.py
Owners: @jazzblue, @seahawks8, @anoop0m, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour

Typehint fix, Added enabled and added keys in api constants.
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/test/route/test_cdp_data_source.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

Update test_cdp_data_source.py
  hux/api/huxunify/test/route/test_cdp_data_source.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

fixed design
  hux/frontend/src/components/common/CardHorizontal.vue
  hux/frontend/src/components/common/DataCards.vue
  hux/frontend/src/views/Engagements/Configuration/Drawers/AddAudienceDrawer.vue
  hux/frontend/src/views/Engagements/Configuration/Drawers/SelectAudiencesDrawer.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

used css
  hux/frontend/src/views/Engagements/Configuration/Drawers/AddAudienceDrawer.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

Correction in template!
  hux/frontend/src/components/common/dataTable/HuxDataTable.vue
Owners: @Abdullah-Azad, @henrikr, @mohitbans, @rahgoel, @sach9993

from my tests
  hux/api/huxunify/test/route/.hypothesis/unicode_data/11.0.0/charmap.json.gz
  hux/api/huxunify/test/route/test_cdp_data_source.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

from my tests
  hux/api/huxunify/test/route/.hypothesis/unicode_data/11.0.0/charmap.json.gz
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

small change
  hux/api/huxunify/test/route/test_engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

small format changes
  hux/api/huxunify/test/route/.hypothesis/unicode_data/11.0.0/charmap.json.gz
  hux/api/huxunify/test/route/test_orchestration.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

remove hypo file.
  hux/api/huxunify/test/route/.hypothesis/unicode_data/11.0.0/charmap.json.gz
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

updated object id
  hux/api/huxunify/test/route/.hypothesis/unicode_data/11.0.0/charmap.json.gz
  hux/api/huxunify/test/route/test_engagement.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

removed
  hux/api/huxunify/test/route/.hypothesis/unicode_data/11.0.0/charmap.json.gz
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

small changes
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/customers.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

revert prev commit, sorry mukesh
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/customers.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

revert
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/customers.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb

reverse
  hux/api/huxunify/api/constants.py
Owners: @seahawks8, @bernieblab, @jimcmahon, @panch-mukesh, @rajkcon1, @henrikr, @soumya-pb
