Repository svishwari/svishwari, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snaragana-deloitte, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @skondalraj-deloitte, @pfleetwood1, @JyotiSingh7, @MoazMansour, @sairajput-deloitte, @rmahato-deloitte, @shashaagrawal-deloitte, @rebbradleydeloitte, @kitani-deloitte

.github/CODEOWNERS:

# ALL
hux/ @snaragana-deloitte

# UI processes
hux/frontend/ @sach9993 @svishwari @sameerksingh1236 @shubhamkumar74 @shahlakhani-deloitte @soumya-pb @risheek-deloitte @dcl-deloitte
hux/integration_tests/frontend @sach9993 @svishwari @sameerksingh1236 @shubhamkumar74 @shahlakhani-deloitte @soumya-pb @risheek-deloitte @dcl-deloitte

# API processes
hux/api/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @sameerksingh1236 @svishwari
hux/integration_tests/api @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @sameerksingh1236 @svishwari
hux/api/load_tests/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @sameerksingh1236 @svishwari

# CI/CD processes
*codefresh.yml @pfleetwood1 @JyotiSingh7 @dcl-deloitte

# huxunifylib-database
scripts/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour @risheek-deloitte @skondalraj-deloitte @svishwari
lib/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour @risheek-deloitte @sairajput-deloitte @rmahato-deloitte @skondalraj-deloitte @shashaagrawal-deloitte @svishwari

# docs - Documentation processes
docs/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @snaragana-deloitte @rebbradleydeloitte @kitani-deloitte

HUS-3149: Moved literals to constants
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/test/route/test_orchestration.py
  hux/api/huxunify/test/schema/test_orchestration_schema.py
  lib/huxunifylib-database/huxunifylib/database/constants.py
  lib/huxunifylib-database/huxunifylib/database/tests/test_orchestration_management.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari, @MoazMansour, @sairajput-deloitte, @rmahato-deloitte, @shashaagrawal-deloitte

HUS-3149: Black formatting
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/test/route/test_orchestration.py
  hux/api/huxunify/test/schema/test_orchestration_schema.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari

HUS-3149: Black formatting
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/test/route/test_orchestration.py
  hux/api/huxunify/test/schema/test_orchestration_schema.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari

HUS-3149: Black formatting
  hux/api/huxunify/test/schema/test_orchestration_schema.py
  lib/huxunifylib-database/huxunifylib/database/constants.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari, @MoazMansour, @sairajput-deloitte, @rmahato-deloitte, @shashaagrawal-deloitte

HUS-3149: Black formatting
  hux/api/huxunify/test/schema/test_orchestration_schema.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari

HUS-3149: Black formatting
  lib/huxunifylib-database/huxunifylib/database/tests/test_orchestration_management.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @sairajput-deloitte, @rmahato-deloitte, @skondalraj-deloitte, @shashaagrawal-deloitte, @svishwari

HUS-3148: Moved literals to constants
  lib/huxunifylib-database/huxunifylib/database/constants.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @sairajput-deloitte, @rmahato-deloitte, @skondalraj-deloitte, @shashaagrawal-deloitte, @svishwari

HUS-3148: Black formatting
  lib/huxunifylib-database/huxunifylib/database/constants.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @sairajput-deloitte, @rmahato-deloitte, @skondalraj-deloitte, @shashaagrawal-deloitte, @svishwari

HUS-3148: Black formatting
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @svishwari

update feature table
  hux/frontend/src/api/mock/factories/model.js
  hux/frontend/src/store/modules/models.js
  hux/frontend/src/views/Models/FeaturesTable.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

part 3
  hux/frontend/src/components/common/screens/Empty.vue
  hux/frontend/src/views/Audiences/Index.vue
  hux/frontend/src/views/Configuration/TeamMembers/TeamMemberRequestDrawer.vue
  hux/frontend/src/views/CustomerProfiles/CustomerList.vue
  hux/frontend/src/views/CustomerProfiles/Index.vue
  hux/frontend/src/views/Engagements/Index.vue
  hux/frontend/src/views/HXTrustId/Index.vue
  hux/frontend/src/views/Home.vue
  hux/frontend/src/views/IdentityResolution/DataFeeds.vue
  hux/frontend/src/views/IdentityResolution/Index.vue
  hux/frontend/src/views/MyIssues.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

update feature table
  hux/frontend/src/api/mock/factories/model.js
  hux/frontend/src/views/IdentityResolution/Index.vue
  hux/frontend/src/views/Models/FeaturesTable.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

updated blck version
  .pre-commit-config.yaml
Owners: none

replace for standalone audiences should be complete
  hux/frontend/src/api/client.js
  hux/frontend/src/views/Audiences/Dashboard/StandaloneDelivery.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

standalone deliveries small error fix
  hux/frontend/src/views/Audiences/Dashboard/StandaloneDelivery.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

audience engagement replace should now work
  hux/frontend/src/components/common/DeliveryDetails.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

engagement toggle should be done now
  hux/frontend/src/views/Engagements/Dashboard/Components/DeliveryTable.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

some more bugs fixed
  hux/frontend/src/components/common/screens/Empty.vue
  hux/frontend/src/views/HXTrustId/Index.vue
  hux/frontend/src/views/HXTrustId/Overview.vue
  hux/frontend/src/views/Measurement/EmailDeliverability/Index.vue
  hux/frontend/src/views/Models/Drawers/Configuration.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

update feature table
  hux/frontend/src/views/Models/FeaturesTable.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

progress indicator added
  hux/frontend/src/stories/ProgressIndicator/ProgressIndicator.vue
  hux/frontend/src/stories/ProgressIndicator/progressIndicator.stories.js
  hux/frontend/src/stories/icons/Icon.stories.js
  hux/frontend/src/stories/icons/Icon2.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

lint fix
  hux/frontend/src/views/Measurement/EmailDeliverability/Index.vue
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

lint fix
  hux/frontend/src/stories/ProgressIndicator/progressIndicator.stories.js
Owners: @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte

Fixed the setting destination End point
  hux/api/huxunify/api/schema/destinations.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @svishwari
