Repository svishwari/svishwari, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snaragana-deloitte, @Abdullah-Azad, @rahgoel, @sach9993, @svishwari, @sameerksingh1236, @shubhamkumar74, @shahlakhani-deloitte, @soumya-pb, @risheek-deloitte, @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @skondalraj-deloitte, @pfleetwood1, @JyotiSingh7, @MoazMansour, @sairajput-deloitte, @rmahato-deloitte, @shashaagrawal-deloitte

Icons for Applications
  hux/api/huxunify/api/schema/applications.py
  lib/huxunifylib-database/huxunifylib/database/constants.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @risheek-deloitte, @skondalraj-deloitte, @sameerksingh1236, @rahgoel, @svishwari, @MoazMansour, @sairajput-deloitte, @rmahato-deloitte, @shashaagrawal-deloitte

black fix
  lib/huxunifylib-database/huxunifylib/database/constants.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @sairajput-deloitte, @rmahato-deloitte, @skondalraj-deloitte, @shashaagrawal-deloitte, @rahgoel, @svishwari

Update scripts/database/prepopulate_database.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @rahgoel, @svishwari

requested changes made
  lib/huxunifylib-database/huxunifylib/database/constants.py
  lib/huxunifylib-database/huxunifylib/database/model_management.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @sairajput-deloitte, @rmahato-deloitte, @skondalraj-deloitte, @shashaagrawal-deloitte, @rahgoel, @svishwari

Update scripts/database/prepopulate_database.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @rahgoel, @svishwari

Update scripts/database/prepopulate_database.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @rahgoel, @svishwari

Update scripts/database/prepopulate_database.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @rahgoel, @svishwari

Update scripts/database/prepopulate_database.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @rahgoel, @svishwari

Update scripts/database/prepopulate_database.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @rahgoel, @svishwari

Update scripts/database/prepopulate_database.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @rahgoel, @svishwari

Update scripts/database/prepopulate_database.py
  scripts/database/prepopulate_database.py
Owners: @dcl-deloitte, @jimcmahon, @panch-mukesh, @rajkcon1, @soumya-pb, @MoazMansour, @risheek-deloitte, @skondalraj-deloitte, @rahgoel, @svishwari

.github/CODEOWNERS:

# ALL
hux/ @snaragana-deloitte

# UI processes
hux/frontend/ @Abdullah-Azad @rahgoel @sach9993 @svishwari @sameerksingh1236 @shubhamkumar74 @shahlakhani-deloitte @soumya-pb @risheek-deloitte @dcl-deloitte
hux/integration_tests/frontend @Abdullah-Azad @rahgoel @sach9993 @svishwari @sameerksingh1236 @shubhamkumar74 @shahlakhani-deloitte @soumya-pb @risheek-deloitte @dcl-deloitte

# api processes
hux/api/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @sameerksingh1236 @rahgoel @svishwari
hux/integration_tests/api @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @sameerksingh1236 @rahgoel @svishwari
hux/api/load_tests/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @risheek-deloitte @skondalraj-deloitte @sameerksingh1236 @rahgoel @svishwari

# CI/CD processes
*codefresh.yml @pfleetwood1 @JyotiSingh7 @dcl-deloitte

# huxunifylib-database
scripts/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour @risheek-deloitte @skondalraj-deloitte @rahgoel @svishwari
lib/ @dcl-deloitte @jimcmahon @panch-mukesh @rajkcon1 @soumya-pb @MoazMansour @risheek-deloitte @sairajput-deloitte @rmahato-deloitte @skondalraj-deloitte @shashaagrawal-deloitte @rahgoel @svishwari
