Repository svishwari/svishwari, changes with the labels that .github/labeler.yml gives for each.
All labels: API, UX/UI, DB, API_INT_TESTS, UI_INT_TESTS

.github/labeler.yml:

# Add 'API' label to any change within the hux/api files within source dir
API:
- hux/api/*
- hux/api/**/*

# Add 'UX/UI' label to any change to files within the hux/frontend files within source dir
UX/UI:
- hux/frontend/*
- hux/frontend/**/*

# Add 'DB' label to any change to lib/ files within the source dir
DB:
- lib/*
- lib/**/*

# Add 'API_INT_TESTS' label to any change to lib/ files within the source dir
API_INT_TESTS:
- hux/integration_tests/api/*
- hux/integration_tests/api/**/*

# Add 'UI_INT_TESTS' label to any change to lib/ files within the source dir
UI_INT_TESTS:
- hux/integration_tests/frontend/*
- hux/integration_tests/frontend/**/*

HUS-2903: UAT Bug Part 1
  hux/frontend/src/components/common/DeliveryDetails.vue
  hux/frontend/src/views/HXTrustId/Drawers/AddSegmentDrawer.vue
  hux/frontend/src/views/HXTrustId/Index.vue
Labels: UX/UI

pylint fixes
  hux/api/huxunify/api/route/utils.py
Labels: API

black fixes
  hux/api/huxunify/api/route/utils.py
Labels: API

tests fix
  hux/api/huxunify/test/route/test_utils.py
Labels: API

HUS-2931: Run E2E backend integration tests as part of deployment
  .pylintrc
  hux/integration_tests/README.md
  hux/integration_tests/api/Dockerfile
  hux/integration_tests/api/README.md
  hux/integration_tests/api/archive/README.md
  hux/integration_tests/api/archive/common.yaml
  hux/integration_tests/api/locustfile.py
  hux/integration_tests/api/test/conftest.py
  hux/integration_tests/api/test/test_applications.py
  hux/integration_tests/api/test/test_client_project.py
  hux/integration_tests/api/test/test_customers.py
  hux/integration_tests/api/test/test_data_sources.py
  hux/integration_tests/api/test/test_decisioning.py
  hux/integration_tests/api/test/test_delivery.py
  hux/integration_tests/api/test/test_engagements.py
  hux/integration_tests/api/test/test_get_okta_token.py
  hux/integration_tests/api/test/test_notifications.py
  hux/integration_tests/api/test/test_orchestration.py
  hux/integration_tests/api/test/test_users.py
Labels: API_INT_TESTS

Update README.md
  README.md
Labels: none

done!!!
  hux/frontend/src/views/Home.vue
Labels: UX/UI
