Repository svishwari/svishwari, changes with the labels that .github/labeler.yml gives for each.
All labels: API, UX/UI, DB, API_INT_TESTS, UI_INT_TESTS, DOCUMENTATION

resolve a bunch of issues on den api integration
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/data_connectors/decisioning.py
  hux/api/huxunify/api/data_connectors/den_stub.py
  hux/api/huxunify/api/route/decisioning.py
Labels: API

simplify the caller
  hux/api/huxunify/api/data_connectors/decisioning.py
Labels: API

resolve empty missing items
  hux/api/huxunify/api/data_connectors/decisioning.py
Labels: API

added decisioning file
  docs/source/huxunify_api/hux_decisioning.rst
Labels: DOCUMENTATION

Fixing Mypy Issues
  .github/workflows/mypy_checks.yml
  lib/huxunifylib-database/README.md
Labels: DB

revert reverse notes
  docs/source/release_notes/release_notes_6_1.rst
Labels: DOCUMENTATION

just to test mypy
  lib/huxunifylib-database/huxunifylib/database/audience_management.py
Labels: DB

.github/labeler.yml:

# Add 'API' label to any change within the hux/api/ files within source dir
API:
- hux/api/*
- hux/api/**/*

# Add 'UX/UI' label to any change to files within the hux/frontend/ files within source dir
UX/UI:
- hux/frontend/*
- hux/frontend/**/*

# Add 'DB' label to any change to lib/ files within the source dir
DB:
- lib/*
- lib/**/*

# Add 'API_INT_TESTS' label to any change to hux/integration_tests/api/ files within the source dir
API_INT_TESTS:
- hux/integration_tests/api/*
- hux/integration_tests/api/**/*

# Add 'UI_INT_TESTS' label to any change to hux/integration_tests/frontend/ files within the source dir
UI_INT_TESTS:
- hux/integration_tests/frontend/*
- hux/integration_tests/frontend/**/*

# Add 'DOCUMENTATION' label to any change to docs/ files within the source dir
DOCUMENTATION:
- docs/*
- docs/**/*
