Repository svishwari/svishwari, changes with the labels that .github/labeler.yml gives for each.
All labels: API, UX/UI, DB, API_INT_TESTS, UI_INT_TESTS, DOCUMENTATION

.github/labeler.yml:

# Add 'API' label to any change within the hux/api/ files within source dir
API:
- hux/api/*
- hux/api/**/*

# Add 'UX/UI' label to any change to files within the hux/frontend/ files within source dir
UX/UI:
- hux/frontend/*
- hux/frontend/**/*

# Add 'DB' label to any change to lib/ files within the source dir
DB:
- lib/*
- lib/**/*

# Add 'API_INT_TESTS' label to any change to hux/integration_tests/api/ files within the source dir
API_INT_TESTS:
- hux/integration_tests/api/*
- hux/integration_tests/api/**/*

# Add 'UI_INT_TESTS' label to any change to hux/integration_tests/frontend/ files within the source dir
UI_INT_TESTS:
- hux/integration_tests/frontend/*
- hux/integration_tests/frontend/**/*

# Add 'DOCUMENTATION' label to any change to docs/ files within the source dir
DOCUMENTATION:
- docs/*
- docs/**/*

Accept events list in parameters for get all audiences
  hux/api/huxunify/api/route/orchestration.py
Labels: API

HUS-3147: Post api to upload audiencce
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/api/schema/orchestration.py
  hux/api/huxunify/test/route/test_orchestration.py
  lib/huxunifylib-database/huxunifylib/database/constants.py
  lib/huxunifylib-database/huxunifylib/database/orchestration_management.py
Labels: API, DB

Cypress tests update for IDR
  hux/frontend/src/components/common/FiltersDrawer.vue
  hux/frontend/src/components/common/Select.vue
  hux/frontend/src/views/IdentityResolution/Index.vue
  hux/integration_tests/frontend/cypress/integration/IdentityResolution/index.spec.js
  hux/integration_tests/frontend/cypress/support/selectors.js
  hux/integration_tests/frontend/package-lock.json
Labels: UX/UI, UI_INT_TESTS

Add support to filter audiences based on events
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/orchestration.py
  lib/huxunifylib-database/huxunifylib/database/constants.py
  lib/huxunifylib-database/huxunifylib/database/orchestration_management.py
Labels: API, DB

Refactoring api constants
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/route/orchestration.py
Labels: API

HUS-3034: RTD docs for API references and other changes
  docs/source/conf.py
  docs/source/getting_started.rst
  docs/source/huxunify_api/huxunify.api.data_connectors.cloud.rst
  docs/source/huxunify_api/huxunify.api.data_connectors.rst
  docs/source/huxunify_api/huxunify.api.exceptions.rst
  docs/source/huxunify_api/huxunify.api.route.rst
  docs/source/huxunify_api/huxunify.api.rst
  docs/source/huxunify_api/huxunify.api.schema.rst
  docs/source/huxunify_api/huxunify.api.stubbed_data.rst
  docs/source/huxunify_api/huxunify.rst
  docs/source/index.rst
  docs/source/modules.rst
  docs/source/release_notes/release_notes.rst
  docs/source/trust_id.rst
  hux/api/huxunify/api/data_connectors/__init__.py
  hux/api/huxunify/api/data_connectors/cloud/__init__.py
  hux/api/huxunify/api/route/__init__.py
  hux/api/huxunify/api/stubbed_data/__init__.py
Labels: API, DOCUMENTATION

Merge develop
  hux/api/huxunify/api/constants.py
  lib/huxunifylib-database/huxunifylib/database/constants.py
Labels: API, DB

HUS-3149: Black formatting
  hux/api/huxunify/api/constants.py
Labels: API

HUS-3149: Black formatting
  lib/huxunifylib-database/huxunifylib/database/constants.py
Labels: DB

Update release_notes_6_1.rst
  docs/source/release_notes/release_notes_6_1.rst
Labels: DOCUMENTATION

added RBAC implementation in UI
  hux/frontend/src/components/DeliveryOverview.vue
  hux/frontend/src/components/common/DeliveryDetails.vue
  hux/frontend/src/components/common/LookAlikeCard.vue
  hux/frontend/src/components/common/StatusList.vue
  hux/frontend/src/components/common/huxTable/MenuCell.vue
  hux/frontend/src/utils.js
  hux/frontend/src/views/Audiences/Dashboard/Delivery.vue
  hux/frontend/src/views/Audiences/Dashboard/Header.vue
  hux/frontend/src/views/Audiences/Dashboard/Lookalikes.vue
  hux/frontend/src/views/Audiences/Dashboard/StandaloneDelivery.vue
  hux/frontend/src/views/Audiences/Index.vue
  hux/frontend/src/views/CustomerProfiles/Drawers/IDRInsightsDrawer.vue
  hux/frontend/src/views/DataSources/DataFeedsListing.vue
  hux/frontend/src/views/DataSources/DataSourcesList.vue
  hux/frontend/src/views/DataSources/Index.vue
  hux/frontend/src/views/Destinations/DestinationsList.vue
  hux/frontend/src/views/Engagements/Dashboard/Components/Delivery.vue
  hux/frontend/src/views/Engagements/Dashboard/Components/DeliveryDetails.vue
  hux/frontend/src/views/Engagements/Dashboard/Components/DeliveryTable.vue
  hux/frontend/src/views/Engagements/Dashboard/Components/Header.vue
  hux/frontend/src/views/Engagements/Dashboard/Overview.vue
  hux/frontend/src/views/Engagements/Index.vue
  hux/frontend/src/views/Models/Index.vue
Labels: UX/UI

removed harcoded value
  hux/frontend/src/utils.js
Labels: UX/UI

filter card basically done
  hux/frontend/src/stories/Banners/banner.stories.js
  hux/frontend/src/stories/Drawer/Drawer2.vue
  hux/frontend/src/stories/Drawer/drawer.stories.js
  hux/frontend/src/stories/cards/PlainCard.vue
  hux/frontend/src/stories/cards/card.stories.js
  hux/frontend/src/stories/cards/largeMetricCard.stories.js
  hux/frontend/src/stories/cards/smallMetricCard.stories.js
  hux/frontend/src/stories/filters/CardFilter.vue
  hux/frontend/src/stories/filters/FilterDrawer.vue
  hux/frontend/src/stories/filters/FilterPanels.vue
  hux/frontend/src/stories/filters/cardFilter.stories.js
  hux/frontend/src/stories/filters/filterDrawer.stories.js
  hux/frontend/src/stories/filters/testFilterOptions.js
  hux/frontend/src/stories/pills/Pill.vue
  hux/frontend/src/stories/pills/pill.stories.js
  hux/frontend/src/stories/search/SearchBar.vue
  hux/frontend/src/stories/search/searchBar.stories.js
Labels: UX/UI

added 1 more component and small changes
  hux/frontend/src/assets/icons/guide_bulb.svg
  hux/frontend/src/assets/icons/sad-face-2.svg
  hux/frontend/src/assets/icons/trash_can.svg
  hux/frontend/src/stories/GuideButton/GuideButton.vue
  hux/frontend/src/stories/Page/Page2.stories.js
  hux/frontend/src/stories/Page/Page2.vue
  hux/frontend/src/stories/huxButton/huxButton2.vue
Labels: UX/UI

side menu changes !!!
  hux/frontend/src/components/SideMenu.vue
Labels: UX/UI

lint fixes !!!
  hux/frontend/src/components/SideMenu.vue
Labels: UX/UI

base list
  hux/frontend/src/stories/filters/CardFilter.vue
  hux/frontend/src/stories/lists/HuxList.vue
  hux/frontend/src/stories/lists/huxList.stories.js
Labels: UX/UI

small change
  hux/frontend/src/stories/lists/HuxList.vue
Labels: UX/UI

lint changes
  hux/frontend/src/stories/filters/CardFilter.vue
  hux/frontend/src/stories/filters/FilterDrawer.vue
  hux/frontend/src/stories/filters/FilterPanels.vue
  hux/frontend/src/stories/search/SearchBar.vue
Labels: UX/UI

small fix
  hux/frontend/src/stories/cards/LargeMetricCard.vue
  hux/frontend/src/stories/cards/largeMetricCard.stories.js
Labels: UX/UI

added navigation links
  hux/frontend/src/components/Help.vue
Labels: UX/UI

added checks
  hux/frontend/src/components/common/DeliveryDetails.vue
  hux/frontend/src/views/Audiences/Dashboard/StandaloneDelivery.vue
Labels: UX/UI

style fix
  hux/frontend/src/components/common/DeliveryDetails.vue
Labels: UX/UI

dev changes
  hux/frontend/src/views/Audiences/Dashboard/StandaloneDelivery.vue
Labels: UX/UI

Cypress tests update for IDR
  hux/frontend/src/components/common/FiltersDrawer.vue
  hux/frontend/src/views/IdentityResolution/Index.vue
  hux/integration_tests/frontend/cypress/integration/IdentityResolution/index.spec.js
  hux/integration_tests/frontend/cypress/support/selectors.js
Labels: UX/UI, UI_INT_TESTS

Cypress tests update for IDR
  hux/integration_tests/frontend/cypress/integration/IdentityResolution/index.spec.js
  hux/integration_tests/frontend/cypress/support/selectors.js
Labels: UI_INT_TESTS

list changes
  hux/frontend/src/stories/lists/HuxList.vue
Labels: UX/UI

removed console log
  hux/frontend/src/views/Engagements/Dashboard/Components/DeliveryTable.vue
Labels: UX/UI

improved data sources and models coverage
  hux/frontend/src/components/common/FiltersDrawer.vue
  hux/frontend/src/views/DataSources/DataFeedsListing.vue
  hux/frontend/src/views/DataSources/DataFeedsTableFilter.vue
  hux/frontend/src/views/DataSources/Listing.vue
  hux/frontend/src/views/Models/Dashboard.vue
  hux/frontend/src/views/Models/Drawers/VersionHistoryDrawer.vue
  hux/frontend/src/views/Models/Index.vue
  hux/integration_tests/frontend/cypress/integration/DataSources/Index.spec.js
  hux/integration_tests/frontend/cypress/integration/Models/Dashboard.spec.js
  hux/integration_tests/frontend/cypress/integration/Models/Index.spec.js
  hux/integration_tests/frontend/cypress/support/selectors.js
Labels: UX/UI, UI_INT_TESTS

.
  hux/integration_tests/frontend/package-lock.json
  hux/integration_tests/frontend/package.json
Labels: UI_INT_TESTS

fixed bugs
  hux/frontend/src/api/client.js
  hux/frontend/src/components/common/FiltersDrawer.vue
  hux/frontend/src/store/modules/models.js
  hux/frontend/src/views/Configuration/ModuleSolutions/ModuleSolutions.vue
  hux/frontend/src/views/CustomerProfiles/Index.vue
  hux/frontend/src/views/Models/Dashboard.vue
Labels: UX/UI

removed commented code
  hux/frontend/src/views/DataSources/DataFeedsListing.vue
  hux/frontend/src/views/DataSources/DataFeedsTableFilter.vue
  hux/frontend/src/views/DataSources/Listing.vue
  hux/frontend/src/views/Models/Index.vue
Labels: UX/UI

fixed lint issue
  hux/frontend/src/views/DataSources/DataFeedsListing.vue
Labels: UX/UI

fixed lint issue
  hux/frontend/src/views/DataSources/DataFeedsListing.vue
Labels: UX/UI

lists and pageheaders
  hux/frontend/src/stories/lists/FormListItem.vue
  hux/frontend/src/stories/lists/HuxList.vue
  hux/frontend/src/stories/lists/MultiSelectListItem.vue
  hux/frontend/src/stories/lists/SmallListItem.vue
  hux/frontend/src/stories/pageHeaders/PageHeader.vue
  hux/frontend/src/stories/pageHeaders/pageHeaders.stories.js
Labels: UX/UI

added den stub and simplifeid the caller
  hux/api/huxunify/api/data_connectors/decisioning.py
  hux/api/huxunify/api/data_connectors/den_stub.py
Labels: API

HUS-3065: Scheduler function to cache customer overview audience insights from CDP
  .pre-commit-config.yaml
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/data_connectors/cache.py
  hux/api/huxunify/api/data_connectors/scheduler.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/app.py
  hux/api/huxunify/test/route/test_orchestration.py
  lib/huxunifylib-database/huxunifylib/database/cache_management.py
Labels: API, DB

HUS-3065: Black formatting
  hux/api/huxunify/api/constants.py
  hux/api/huxunify/api/data_connectors/cache.py
  hux/api/huxunify/api/data_connectors/scheduler.py
  hux/api/huxunify/api/route/orchestration.py
  hux/api/huxunify/app.py
  hux/api/huxunify/test/route/test_orchestration.py
Labels: API

HUS-3065: Black formatting
  hux/api/huxunify/api/data_connectors/cache.py
Labels: API

HUS-3065: Black formatting
  lib/huxunifylib-database/huxunifylib/database/cache_management.py
Labels: DB
